<section 
    class="center"
    [ngClass]="{
        'bg-blue': playerColor === 'cyan',
        'bg-red': playerColor === 'red',
        'bg-green': playerColor === 'green',
        'bg-yellow': playerColor === 'yellow',
    }"
>
    @if(this.playerCanStillAnswer() && this.questionSet.length !== 0) {
    <form
        #answerForm="ngForm"
        (ngSubmit)="onAnswerGiven(answerForm)"
        class="question-form"
    >
        <time class="timer" [ngClass]="{'time-out': answerTimer <= 5}">
            {{answerTimer}}
        </time>
        <h2 class="question-content">
            {{questionSet[currentQuestionNumber].content }}
        </h2>
        <input
            type="text"
            name="enteredAnswer"
            id="answerInput"
            [(ngModel)]="enteredAnswer"
        />
        <div class="button-row">
            <button 
                type="submit"
                class="confirm-button"
            >
                Potvrdi
            </button>
            <button 
                (click)="onPassQuestion(questionSet[currentQuestionNumber].id)"
                type="button"
                class="pass-button"
            >
                Dalje
            </button>
        </div>
    </form>
    }
    @else
    {
    <p>Gotov set od 6 pitanja</p>
    }
</section>