<h1>
    Prijavljen korisnik: {{ this.loggedInUsername}}
</h1>
<div class="user-row">
    @for(username of usernames; track username)
    {
        <div class="user-card">
            <div class="user-name">{{ username }}</div>
            <!-- <div class="user-score">Score: {{ user.score }}</div> -->
        </div>
    }
</div>
@if(this.gameHasSterted) {
    @if(userIsAnswering()) {
        <app-question-form/>
    }
    @else {
        <h2>Čekanje na igrača: {{ this.currentlyAnsqweringUsername }} da odgovori...</h2>
    }
    <app-board/>
}
@else {
    <h2>Čekanje da se igra pokrene...</h2>
}